.footer {
  width: 100%;

  &.footer-fixed {
    height: 100px;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    background-color: #373c49;
    border-radius: 10px 10px 0 0;
  }

  .footer-search {
    padding: 15px;
    display: flex;

    .footer-search-type {
      width: 60px;
      margin-right: 10px;
      font-size: 16px;
      background-color: #011627;
      border: none;
      border-radius: 5px;
      color: white;
      padding-left: 15px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
}