.nav {
  margin-top: 20px;

  .title {
    text-align: center;
  }

  .icon-list {
    width: 60%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    padding: 5px;

    .view-icon {
      margin-left: 10px;

      svg {
        width: 30px;
        height: 30px;
      }

      .view-name {
        font-size: 10px;
      }
    }

    .view-icon:nth-child(1) {
      margin-left: 0;
    }
  }

}