.nav {
  position: absolute;
  bottom: 40px;
  width: 100%;

  .title-box .sub-title {
    font-size: 20px;
  }

  .nav-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;

    .view-icon {
      margin-left: 50px;

      svg {
        width: 35px;
        height: 35px;
      }

      .view-name {
        margin-top: 5px;
        font-size: 14px;
      }
    }

    .view-icon:nth-child(1) {
      margin-left: 0;
    }
  }
}