.nav {
  position: absolute;
  bottom: 100px;
  width: 100%;

  .nav-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    .view-icon {
      margin-left: 40px;

      svg {
        width: 45px;
        height: 45px;
      }

      .view-name {
        margin-top: 10px;
      }
    }

    .view-icon:nth-child(1) {
      margin-left: 0;
    }
  }
}