.login {
  padding-top: 100px;
  height: 100%;

  .login-title {
    font-size: 34px;
    color: rgb(255, 167, 196);
  }

  .login-notice {
    font-size: 18px;
  }

  .app-notice {
    margin-top: 70px;
  }
}
