.login {
  padding-top: 100px;
  height: 100%;

  .login-title {
    font-size: 34px;
    color: rgb(255, 167, 196);
  }

  .login-description {
    margin-bottom: 50px;
  }

  .auto-login {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .auto-login-title {
      margin-right: 10px;
    }
  }

  .app-notice {
    margin-top: 70px;
  }
}
