.me {

  .auto-login-clear {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;

    .btn-auto-login-clear {
      width: 140px;
      font-size: 12px;
    }
  }

  .my-profile {
    display: flex;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;

    .profile-nickname {
      text-align: left;
      margin-right: 5px;
    }
  }

  .profile-info {
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;

    .profile-nickname {
      text-align: left;
      margin-right: 5px;
    }

    .profile-btn-couple {
      margin-left: 5px;

      .btn {
        width: 100px;
        margin-right: 5px;
        font-size: 14px;
      }
    }
  }

  .me-couple-info {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 26px;
    line-height: 26px;

    .profile-couple-emoji {
      margin-left: 5px;
      margin-right: 3px;
    }
  }

  .section-divider {
    border: solid 1px #373c49;
  }

  .me-alarm {
    margin-top: 10px;

    .alarm-receive {
      margin-bottom: 5px;

      .alarm-btn {
        display: flex;
        justify-content: center;
        margin-top: 5px;

        .btn {
          width: 100px;
          margin-right: 10px;
          height: 26px;
          line-height: 26px;
          font-size: 14px;
        }

        .btn-ok {
          background-color: #011627;
        }
      }
    }

    .alarm-content {
      margin-bottom: 5px;
      display: flex;
      justify-content: space-around;

      .alarm-reject {
        color: #011627;
      }

      .alarm-accept {
        color: rgb(255, 167, 196);
      }
    }
  }

  .me-search-friends {
    margin-top: 40px;

    .me-search-result {
      margin-top: 20px;
    }
  }
}
