.place {
  width: 100%;
  background-color: #011627;
  color: #F2F2F2;

  &.swipe-card {
    position: relative;
    float: left;
    margin-bottom: 0;
  }

  .place-inner {
    padding: 10px;

    .place-desc {
      margin-top: 5px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: left;

      &.place-header {
        .place-title {
          text-overflow: ellipsis;
          font-size: 18px;
        }

        .place-category {
          margin-left: 10px;
          font-size: 13px;
        }
      }

      &.place-swipe-card {
        display: flex;
        justify-content: space-between;

        .btn-detail {
          display: block;
          width: 110px;
          font-size: 14px;
        }
      }

      &.place-more-info {
        display: flex;
        justify-content: space-between;
      }

      &.score-info {
        display: flex;
        height: 20px;
        border-radius: 5px;
        background-color: #011627;

        .star-rating {
          span {
            height: 20px;
            line-height: 20px;
          }
          svg {
            width: 22px;
            height: 22px;
            margin: 0;
          }
        }
      }

      svg {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
  }

}
