.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .search-icon {
    margin-right: 10px;
  }

  .search-box {
    width: 250px;
    height: auto;
    padding: .9em .8em;
    line-height: normal;
    font-family: inherit;
    border: none;
    border-radius: 5px;
    background-color: #E6E6E6;
    outline-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}