.store-card {
  position: relative;
  float: left;

  .card-title {
    text-overflow: ellipsis;
  }

  .card-inner {
    display: flex;
    padding: 0 10px;
    text-align: left;

    .card-summary {
      width: 250px;

      .description {
        margin-top: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        svg {
          width: 20px;
          margin-right: 10px;
        }
      }
    }

    .card-btn {
      display: flex;
      align-items: flex-end;
      margin-left: 10px;

      .btn-view-detail {
        display: block;
        margin: 0 auto;
        width: 95px;
        font-size: 14px;
      }
    }
  }
}