.counted-map {
  .map-box {

  }

  .counted-map-ranking {
    margin-top: 10px;

    .ranking-title {
      font-size: 18px;
      font-weight: bold;
      color: rgb(255, 167, 196);
    }

    .ranking-card {
      padding: 10px 20px 0 20px;
      display: flex;


      .ranking-field {
        margin-right: 10px;
      }
    }
  }
}