.list {
  width: 100%;
  overflow: scroll;

  .list-inner {
    padding: 0 15px;

    .list-changed-date {
      text-align: left;
      margin-bottom: 5px;
      width: 40px;
      padding: 5px 15px;
      border-radius: 0 15px 15px 0;
      background-color: #373c49;

      &.list-changed-year {
        width: 100px;
      }
    }
  }
}