.counted-map {
  .counted-map-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn-scores {
      margin-top: 10px;

      button:last-child {
        border-right: solid 1px #fff;
      }
    }

    .btn {
      width: 50px;
      border-top: solid 1px #fff;
      border-left: solid 1px #fff;
      border-bottom: solid 1px #fff;
      border-radius: 0;
      background-color: #282c35;
      color: #fff;
    }

    .clicked {
      background-color: #ffa7c4;
    }
  }

  .map-box {
    margin-top: 10px;
  }
}
