.search {
  .title-box {
    padding-bottom: 10px;
    text-align: center;

    .title {
      font-size: 30px;
    }

    .sub-title {
      font-size: 20px;
    }
  }
  .map-box {
    margin-top: 10px;
    height: 450px;
    @media screen and (max-height: 736px) {
      height: 380px;
    }
    @media screen and (max-height: 667px) {
      height: 320px;
    }
    @media screen and (max-height: 568px) {
      height: 220px;
    }
  }
}